node-red/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Test MQTT","disabled":false,"info":""},{"id":"f9623ba5.959668","type":"tab","label":"Web Interface","disabled":false,"info":""},{"id":"aca492e1.b4a05","type":"mqtt-broker","name":"172.31.24.151","broker":"172.31.24.151","port":"1883","clientid":"nodered","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"aeb85718.759f38","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"gg-node-red","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e9b3a99.23d494","type":"amazon config","name":"AWS - Admin","region":"us-east-1","proxyRequired":false,"proxy":""},{"id":"32b3b13f.ff82fe","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cfbebd2c.9c23e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d9b99f83.e5bd8","type":"ui_group","name":"Default","tab":"32b3b13f.ff82fe","order":1,"disp":true,"width":"20","collapse":false},{"id":"1b814adf.844855","type":"ui_spacer","name":"spacer","group":"d9b99f83.e5bd8","order":3,"width":"13","height":1},{"id":"61bab82c.7930f8","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"/localTopic","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"aeb85718.759f38","x":970,"y":140,"wires":[]},{"id":"1734cd31.ac5fd3","type":"inject","z":"f6f2187d.f17ca8","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":150,"y":140,"wires":[["fe59b5b7.670448"]]},{"id":"dbc06a37.9334a8","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"#","qos":"2","datatype":"auto","broker":"aeb85718.759f38","nl":false,"rap":true,"rh":0,"x":150,"y":200,"wires":[["f9741e12.c97ac"]]},{"id":"f9741e12.c97ac","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":200,"wires":[]},{"id":"fe59b5b7.670448","type":"change","z":"f6f2187d.f17ca8","name":"PopulateData","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.sourceid","pt":"msg","to":"node-red","tot":"str"},{"t":"set","p":"payload.message","pt":"msg","to":"1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["61bab82c.7930f8"]]},{"id":"d0c2fa6c.c48518","type":"http request","z":"f6f2187d.f17ca8","name":"HTTP Submit","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/api","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":400,"wires":[["3b2bde5d.ccea12","80d903d5.1cf17"]]},{"id":"b41eabc6.f0abf8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":340,"wires":[]},{"id":"d30352c3.dd26a","type":"inject","z":"f6f2187d.f17ca8","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":340,"wires":[["80d903d5.1cf17"]]},{"id":"197b86de.7f3fc9","type":"change","z":"f6f2187d.f17ca8","name":"PopulateData","rules":[{"t":"set","p":"topic","pt":"msg","to":"count","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.sourceid","pt":"msg","to":"node-red","tot":"str"},{"t":"set","p":"payload.message","pt":"msg","to":"1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":400,"wires":[["d0c2fa6c.c48518","bf4f8103.3e715"]]},{"id":"57d79780.fc8078","type":"comment","z":"f6f2187d.f17ca8","name":"Local MQTT Debugging","info":"","x":120,"y":80,"wires":[]},{"id":"3906beec.027712","type":"comment","z":"f6f2187d.f17ca8","name":"Send Data to EdgeDevice","info":"","x":130,"y":280,"wires":[]},{"id":"80d903d5.1cf17","type":"counter-loop","z":"f6f2187d.f17ca8","name":"","counter":"count","counterType":"flow","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"100","terminationType":"num","increment":1,"incrementType":"num","x":360,"y":400,"wires":[["b1503894.5f89a8"],["197b86de.7f3fc9"]]},{"id":"3b2bde5d.ccea12","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":400,"wires":[]},{"id":"2400750f.3a735a","type":"ui_ui_control","z":"f9623ba5.959668","name":"","events":"all","x":180,"y":160,"wires":[["4ad2dd9e.ae14c4","addc9c60.4ee7c","b1ba37ae.eeafd8","4ae92a4c.e89654"]]},{"id":"4ad2dd9e.ae14c4","type":"AWS DynamoDB","z":"f9623ba5.959668","aws":"7e9b3a99.23d494","operation":"Scan","Statements":"","RequestItems":"","TableName":"edgedevice-messages","BackupName":"","GlobalTableName":"","ReplicationGroup":"","AttributeDefinitions":"","KeySchema":"","BackupArn":"","Key":"","ExportArn":"","Statement":"","TransactStatements":"","TableArn":"","S3Bucket":"","ResourceArn":"","Item":"","TargetTableName":"","Tags":"","TransactItems":"","TagKeys":"","PointInTimeRecoverySpecification":"","ContributorInsightsAction":"","ReplicaUpdates":"","TimeToLiveSpecification":"","name":"edgedevice-messages","x":460,"y":200,"wires":[["16e177.fd72de89"],["5098053b.4c3bcc"]]},{"id":"5098053b.4c3bcc","type":"debug","z":"f9623ba5.959668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]},{"id":"1c27da0d.490da6","type":"ui_table","z":"f9623ba5.959668","group":"d9b99f83.e5bd8","name":"DynamoDB","order":7,"width":"10","height":"12","columns":[{"field":"sourceid.S","title":"SourceID","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"timestamp.N","title":"Timestamp","width":"110","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"message.S","title":"Message","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":990,"y":160,"wires":[]},{"id":"16e177.fd72de89","type":"change","z":"f9623ba5.959668","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":160,"wires":[["1c27da0d.490da6","fc852e7c.fc08c"]]},{"id":"708e6e20.e295e","type":"ui_button","z":"f9623ba5.959668","name":"","group":"d9b99f83.e5bd8","order":1,"width":"2","height":"1","passthru":false,"label":"Run Test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":380,"wires":[["2d12cf19.059a9"]]},{"id":"2d12cf19.059a9","type":"link out","z":"f9623ba5.959668","name":"Run Test","links":["195c8ddb.628e82"],"x":375,"y":380,"wires":[]},{"id":"195c8ddb.628e82","type":"link in","z":"f6f2187d.f17ca8","name":"Run Test","links":["2d12cf19.059a9"],"x":175,"y":400,"wires":[["80d903d5.1cf17"]]},{"id":"5d754dd4.efa474","type":"ui_button","z":"f9623ba5.959668","name":"","group":"d9b99f83.e5bd8","order":2,"width":"2","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":420,"wires":[["40304eef.0e5ba"]]},{"id":"d3abe1d8.01ca5","type":"AWS DynamoDB","z":"f9623ba5.959668","aws":"7e9b3a99.23d494","operation":"DeleteItem","Statements":"","RequestItems":"","TableName":"edgedevice-messages","BackupName":"","GlobalTableName":"","ReplicationGroup":"","AttributeDefinitions":"","KeySchema":"","BackupArn":"","Key":"","ExportArn":"","Statement":"","TransactStatements":"","TableArn":"","S3Bucket":"","ResourceArn":"","Item":"","TargetTableName":"","Tags":"","TransactItems":"","TagKeys":"","PointInTimeRecoverySpecification":"","ContributorInsightsAction":"","ReplicaUpdates":"","TimeToLiveSpecification":"","name":"edgedevice-messages","x":480,"y":480,"wires":[["c3c6a70c.ba99d8"],["4ae10755.6f6898"]]},{"id":"efa4e12a.55c66","type":"inject","z":"f9623ba5.959668","name":"","props":[{"p":"Key","v":"sourceid","vt":"str"},{"p":"Item","v":"node-red","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":480,"wires":[["d3abe1d8.01ca5"]]},{"id":"4ae10755.6f6898","type":"debug","z":"f9623ba5.959668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":540,"wires":[]},{"id":"c3c6a70c.ba99d8","type":"debug","z":"f9623ba5.959668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":480,"wires":[]},{"id":"bf4f8103.3e715","type":"function","z":"f6f2187d.f17ca8","name":"","func":"global.set(\"records\", global.get(\"records\") || []);\n\nrecords = global.get(\"records\");\nrecords.push(msg.payload);\n\nglobal.set(\"records\", records);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":460,"wires":[[]]},{"id":"b1503894.5f89a8","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"records","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["b41eabc6.f0abf8"]]},{"id":"575c3528.36147c","type":"link in","z":"f6f2187d.f17ca8","name":"Reset","links":["40304eef.0e5ba"],"x":175,"y":580,"wires":[["2ce96073.3327f"]]},{"id":"2ce96073.3327f","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"records","pt":"global","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":580,"wires":[[]]},{"id":"94c3ef01.32d1b","type":"inject","z":"f6f2187d.f17ca8","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":520,"wires":[["2ce96073.3327f"]]},{"id":"40304eef.0e5ba","type":"link out","z":"f9623ba5.959668","name":"Reset","links":["575c3528.36147c"],"x":375,"y":420,"wires":[]},{"id":"71d8eb62.e1ee84","type":"ui_table","z":"f9623ba5.959668","group":"d9b99f83.e5bd8","name":"LocalDebug","order":6,"width":"10","height":"12","columns":[{"field":"sourceid","title":"SourceID","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"timestamp","title":"Timestamp","width":"110","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"message","title":"Message","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":990,"y":120,"wires":[]},{"id":"addc9c60.4ee7c","type":"change","z":"f9623ba5.959668","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"records","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":120,"wires":[["71d8eb62.e1ee84","356895da.8d14ba"]]},{"id":"9eec219.443b9e","type":"inject","z":"f9623ba5.959668","name":"","props":[{"p":"Key","v":"sourceid","vt":"str"},{"p":"Item","v":"node-red","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":430,"y":80,"wires":[["addc9c60.4ee7c"]]},{"id":"df85142e.8df748","type":"debug","z":"f9623ba5.959668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":40,"wires":[]},{"id":"b1ba37ae.eeafd8","type":"ui_template","z":"f9623ba5.959668","group":"d9b99f83.e5bd8","name":"Heading: Local Data","order":4,"width":"10","height":"1","format":"<div><h3>Local Data</h3></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":260,"wires":[[]]},{"id":"4ae92a4c.e89654","type":"ui_template","z":"f9623ba5.959668","group":"d9b99f83.e5bd8","name":"Heading: Remote Data","order":5,"width":"10","height":"1","format":"<div><h3>Dynamo DB Data</h3></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":300,"wires":[[]]},{"id":"6aeda1b1.81df3","type":"inject","z":"f9623ba5.959668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["addc9c60.4ee7c","4ad2dd9e.ae14c4"]]},{"id":"76c8d071.82849","type":"ui_template","z":"f9623ba5.959668","group":"d9b99f83.e5bd8","name":"Footer: Remote Data Totals","order":9,"width":"10","height":"1","format":"<div><h3>Total Count: {{msg.payload}}</h3></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":300,"wires":[[]]},{"id":"b5cd72.aa37229","type":"ui_template","z":"f9623ba5.959668","group":"d9b99f83.e5bd8","name":"Footer: Local Data Totals","order":8,"width":"10","height":"1","format":"<div><h3>Total Count: {{msg.payload}}</h3></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":260,"wires":[[]]},{"id":"c0a69d9b.2b6ef","type":"ui_template","z":"f9623ba5.959668","group":"d9b99f83.e5bd8","name":"","order":10,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":230,"y":680,"wires":[[]]},{"id":"356895da.8d14ba","type":"function","z":"f9623ba5.959668","name":"","func":"\nreturn {payload: msg.payload.length};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":260,"wires":[["b5cd72.aa37229"]]},{"id":"fc852e7c.fc08c","type":"function","z":"f9623ba5.959668","name":"","func":"return {payload: msg.payload.length};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":300,"wires":[["76c8d071.82849"]]},{"id":"23d8a3a6.7f201c","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":700,"wires":[["f60550f2.1c463"]]},{"id":"2248b185.4e24ee","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":700,"wires":[]},{"id":"f60550f2.1c463","type":"AWS DynamoDB","z":"f6f2187d.f17ca8","aws":"7e9b3a99.23d494","operation":"DeleteTable","Statements":"","RequestItems":"","TableName":"edgedevice-messages","BackupName":"","GlobalTableName":"","ReplicationGroup":"","AttributeDefinitions":"","KeySchema":"","BackupArn":"","Key":"","ExportArn":"","Statement":"","TransactStatements":"","TableArn":"","S3Bucket":"","ResourceArn":"","Item":"","TargetTableName":"","Tags":"","TransactItems":"","TagKeys":"","PointInTimeRecoverySpecification":"","ContributorInsightsAction":"","ReplicaUpdates":"","TimeToLiveSpecification":"","name":"","x":510,"y":700,"wires":[["2248b185.4e24ee"],["d254de1e.bd747"]]},{"id":"d254de1e.bd747","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":740,"wires":[]}]